<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT kompetencer ANY>
<!ATTLIST kompetencer id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1086" key="284eaf2d-9b12-4d39-b20d-747633e83396" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2018-02-13T11:03:11" updateDate="2018-02-13T12:28:06" nodeName="Home" urlName="home" path="-1,1086" isDoc="" nodeType="1060" creatorName="Anne Öhrman Vosgerau" writerName="Anne Öhrman Vosgerau" writerID="0" template="1055" nodeTypeAlias="homePage" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Site title]]></siteTitle>
    <mainContent><![CDATA[<p>Yolo</p>]]></mainContent>
    <footer><![CDATA[Footer]]></footer>
    <projectsOverview id="1097" key="29f3101b-a322-49c5-b6ad-1bb9e94df9a7" parentID="1086" level="2" creatorID="0" sortOrder="0" createDate="2018-02-13T11:14:54" updateDate="2018-03-25T16:05:13" nodeName="Portfolie" urlName="portfolie" path="-1,1086,1097" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="0" template="1071" nodeTypeAlias="projectsOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBody><![CDATA[<p>ok</p>]]></projectsBody>
      <projectItem id="1101" key="73e66d7c-ba64-4a8c-bc22-e6ea0b8e2aba" parentID="1097" level="3" creatorID="0" sortOrder="1" createDate="2018-02-13T11:17:09" updateDate="2018-03-25T15:35:45" nodeName="Klöver" urlName="kloever" path="-1,1086,1097,1101" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>16</projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1021/kloever.png",
  "crops": []
}]]></projectImage>
        <projectTitle><![CDATA[Klöver]]></projectTitle>
        <projectDescription><![CDATA[<p style="text-align: left;"><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/bfd6e5779c65466fbc8fc804d96da33a" />I dette projekt skulle vi lave en fornyelse af et af Arlas eksisterende produkter. Vi valgte Kløver. Der blevet lavet en ny målgruppe og et nyt produkt, derefter skulle der udformes et nyt site der skulle vise de nye produkter. </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1102" key="e073496d-cfde-4dc2-bc21-849816ca3636" parentID="1097" level="3" creatorID="0" sortOrder="2" createDate="2018-02-13T11:17:37" updateDate="2018-03-26T09:50:23" nodeName="Festivalmedhjælper" urlName="festivalmedhjaelper" path="-1,1086,1097,1102" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>16</projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1022/festival.png",
  "crops": []
}]]></projectImage>
        <projectTitle><![CDATA[Festivalmedhjælper]]></projectTitle>
        <projectDescription><![CDATA[<p>Holdsport.dk har lavet en aftale med Skanderborg Festival om at lave et system for dem hvor deres medhjælpere og festivalen selv kunne få et hurtigt og nemt overblik over deres arbejdstid.</p>
<p>Jeg fik til opgave at lave forsiden, denne skulle forklare andre festvaller hvad sitet kan bruges til, men det skulle også være muligt for administratorer og ansatte at logge ind.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1137" key="5e6c5744-70fe-4a04-9c4e-5f19c2aaee20" parentID="1097" level="3" creatorID="2" sortOrder="3" createDate="2018-03-22T20:03:07" updateDate="2018-03-26T10:05:17" nodeName="Holdsport profil" urlName="holdsport-profil" path="-1,1086,1097,1137" isDoc="" nodeType="1076" creatorName="Tim Hansson" writerName="admin" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>16</projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1023/holdsport-profile.png",
  "crops": []
}]]></projectImage>
        <projectTitle><![CDATA[Holdsport profil]]></projectTitle>
        <projectDescription><![CDATA[<p>Holdsport.dk har i de sidste 12 måneder forsøgt at forny sig, både i forholdt til designet og user experience. Udover dette har det været en strategi at Holdsport skulle fokusere mere på kommunikation imellem brugere.</p>
<p>Årsagerne ovenfor gjorde det nødvendigt at lave et nyt view til en given profil. Jeg har haft ansvaret for dette projekt og har været med at vurdere hvad der skulle vises på profilen, dernæst har jeg stået for alt frontend udvikling. </p>]]></projectDescription>
      </projectItem>
      <projectItem id="1177" key="2cbd9190-4cea-4f6a-86b5-fe27af245bed" parentID="1097" level="3" creatorID="0" sortOrder="4" createDate="2018-03-25T16:02:43" updateDate="2018-03-26T09:35:37" nodeName="Norr" urlName="norr" path="-1,1086,1097,1177" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>16</projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1024/norr.png",
  "crops": []
}]]></projectImage>
        <projectTitle><![CDATA[Norr]]></projectTitle>
        <projectDescription><![CDATA[<p>Denne kampagne side er et skole projekt, der tager udgangspunkt i Mikkeller. Kampagne gav mulighed for at købe billetter til et event, dette blev gemt i en MySQL database.</p>
<p>På sitet er der brugt en parallax effekt og et scroll imod højre, dette skulle få sitet til at se ud som om man går en tur igennem en skov.</p>
<p>Udover at lave et nyt site og en database, blev der også lavet nyt emballage og en visuel identitet.</p>]]></projectDescription>
      </projectItem>
      <projectItem id="1182" key="fb48f3eb-a886-4b5a-9aaa-1064baa0c97a" parentID="1097" level="3" creatorID="0" sortOrder="5" createDate="2018-03-26T09:52:53" updateDate="2018-03-26T10:07:04" nodeName="Bil" urlName="bil" path="-1,1086,1097,1182" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>16</projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1026/bil-1.png",
  "crops": []
}]]></projectImage>
        <projectTitle><![CDATA[Bil]]></projectTitle>
        <projectDescription><![CDATA[<p><em>Illustration til project i skolen.. Lavet i Illustrator</em></p>]]></projectDescription>
      </projectItem>
      <projectItem id="1183" key="92834c40-0266-45ea-b1bd-c1950abce334" parentID="1097" level="3" creatorID="0" sortOrder="6" createDate="2018-03-26T09:55:07" updateDate="2018-03-26T09:55:23" nodeName="Mariager Handest Veteran Jernbane" urlName="mariager-handest-veteran-jernbane" path="-1,1086,1097,1183" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1075" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectStatus>16</projectStatus>
        <projectImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1027/mhvj.png",
  "crops": []
}]]></projectImage>
        <projectTitle><![CDATA[Mariager Handest Veteran Jernbane]]></projectTitle>
        <projectDescription><![CDATA[<p>Dette projekt er lavet for Mariager Handest Veteran Jernbane, som er en oplevelsesvirksomhed der sælger ture med veteran tog mellem Mariager og Handest.</p>
<p>Projektet er lavet i Wordpress, årsagen til dette er at det skulle være nemt for MHVJs ansatte, selv at tage over efterfølgende.</p>
<p>Udover hjemmesiden, har projektet indholdt nyt logo og ny visuel identitet samt ny kommunikationsstrategi. </p>]]></projectDescription>
      </projectItem>
    </projectsOverview>
    <aboutUs id="1110" key="750da7b2-081e-4422-a579-fa73a86c1d5b" parentID="1086" level="2" creatorID="0" sortOrder="1" createDate="2018-02-13T14:43:03" updateDate="2018-03-25T09:34:35" nodeName="Om" urlName="om" path="-1,1086,1110" isDoc="" nodeType="1108" creatorName="admin" writerName="admin" writerID="0" template="1107" nodeTypeAlias="aboutUs" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <aboutTitle><![CDATA[Om mig]]></aboutTitle>
      <aboutDescription><![CDATA[<p style="text-align: left;"><img style="width: 0px; height: 0px;" src="/nothing.jpg" alt="" data-udi="umb://media/a4f73fe860df464d91267eb2bdd5d917" /><img style="width: 160px; height: 160px; float: right;" src="/media/1018/anne.png?width=160&amp;height=160" alt="" data-udi="umb://media/a4f73fe860df464d91267eb2bdd5d917" />Mit navn er Anne Vosgerau og jeg er ved at uddanne mig til webudvikler. Før dette læste jeg multimediedesign og i min praktik, hos Holdsport.dk, fik jeg en større interesse for udvikling og har siden været ansat som studiemedhjælper. Jeg får rigtig meget ud af at bruge mine kompetencer jeg lære på skolen og ser frem til en praktik til august 2018, hvor jeg kan udnytte nogle af mine nye kompetencer.</p>
<p style="text-align: left;"> </p>
<p> </p>
<h3>ERFARING</h3>
<hr />
<p><strong>Bachelor i webudvikling</strong></p>
<p style="padding-left: 30px;">AUGUST 2017 –</p>
<p>Mit ønske med studiet var at forbedre mine frontend kompetencer og opnå viden omkring backend udvikling. Jeg har specielt igennem faget Backend og faget Database, opnået viden omkring backend udvikling i C# og MS SQL og MongoDB. På nuværende tidspunkt har jeg valgfag, iOS udvikling og Frameworks, som er består af JavaScript.</p>
<p> </p>
<p><strong>Holdsport.dk</strong></p>
<p style="padding-left: 30px;">JANUAR 2016 –</p>
<p>Jeg startede som praktikant hos Holdsport.dk, her skulle jeg fungere som designer og frontend udvikler. Jeg er stadig ansat her og nyder at jeg kan bruge mine kompetencer fra skolen. Hos Holdsport.dk har jeg fået meget ansvar og har flere gange selv udarbejdet mine arbejdsopgaver. Dette har bl.a. resulteret i en ny måde den enkelte bruger kan se sin profil. Hos Holdsport.dk har jeg opnået stor erfaring med at kode i sprogene Haml og SaSS. Derudover har jeg opnået forståelse for Ruby on Rails.</p>
<p> </p>
<p><strong>AP i Multimediedesign, linje Creative Advertising</strong></p>
<p style="padding-left: 30px;">AUGUST 2015 – JULI 2017</p>
<p>Det er på denne uddannelse at jeg har opnået interesse og kompetencer for design. Derudover har jeg lært at sammensætte brugervenlighed og brugererfaring med et design som skal være i balance og give det korrekte udtryk. Jeg har på denne uddannelse lært at udforme og forstå en målgruppe og dernæst udform skitser som senere er blevet til illustrationer, mockups og wireframes, lavet i Illustator, Photoshop og InDesign. Jeg søgte overbygningen, Webudvikling, da jeg synes jeg manglede viden omkring udvikling.</p>]]></aboutDescription>
    </aboutUs>
    <contactPage id="1117" key="ab161454-931f-40c3-a2d4-1c583a765351" parentID="1086" level="2" creatorID="0" sortOrder="2" createDate="2018-02-20T09:34:54" updateDate="2018-03-25T17:49:03" nodeName="Kontakt" urlName="kontakt" path="-1,1086,1117" isDoc="" nodeType="1112" creatorName="admin" writerName="admin" writerID="0" template="1111" nodeTypeAlias="contactPage" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <contactDescription><![CDATA[<p>Anne Öhrman Vosgerau</p>
<p>Nordre ringgade 96 kl. th</p>
<p>8200 Aarhus N</p>
<p> </p>
<p>+45 24 21 22 24</p>
<p>vosgerau89@msn.com</p>]]></contactDescription>
    </contactPage>
    <kompetencer id="1170" key="f986ab6a-0d2f-410e-a456-753e3b2c5b07" parentID="1086" level="2" creatorID="0" sortOrder="3" createDate="2018-03-25T09:00:16" updateDate="2018-03-26T10:39:09" nodeName="Kompetencer" urlName="kompetencer" path="-1,1086,1170" isDoc="" nodeType="1169" creatorName="admin" writerName="admin" writerID="0" template="1168" nodeTypeAlias="kompetencer" isPublished="false" isDraft="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "kompetencer",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "FRONTEND",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>HTML, CSS</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "52f8c4fb-d572-b6bf-8ded-47b047f62322"
        },
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "BACKEND",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>C#</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7e228ea9-9ad7-96da-7157-620e729e6c79"
        },
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "CMS",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Wordpress, Umbraco</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "c804a319-1f73-aa9b-69db-8e57e39890cb"
        },
        {
          "label": "Article",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "DESIGN",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Illustrator</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "2cad713a-069d-68ba-be9f-9891989d709c"
        }
      ]
    }
  ]
}]]></gridLayout>
    </kompetencer>
    <members id="1167" key="653a496f-a36b-4dab-874b-d0a8f862e272" parentID="1086" level="2" creatorID="0" sortOrder="4" createDate="2018-03-23T13:19:37" updateDate="2018-03-25T09:01:37" nodeName="Members" urlName="members" path="-1,1086,1167" isDoc="" nodeType="1166" creatorName="admin" writerName="admin" writerID="0" template="1165" nodeTypeAlias="members" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <login id="1164" key="121b0177-8f6b-4e16-9029-80b3567952be" parentID="1086" level="2" creatorID="0" sortOrder="5" createDate="2018-03-23T12:24:33" updateDate="2018-03-23T12:24:33" nodeName="Login" urlName="login" path="-1,1086,1164" isDoc="" nodeType="1144" creatorName="admin" writerName="admin" writerID="0" template="1143" nodeTypeAlias="login" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </login>
    <sitemap id="1124" key="8edab414-be1f-48da-aac5-9f8aa81b4ede" parentID="1086" level="2" creatorID="0" sortOrder="6" createDate="2018-02-21T15:17:48" updateDate="2018-03-25T09:01:31" nodeName="Sitemap" urlName="sitemap" path="-1,1086,1124" isDoc="" nodeType="1123" creatorName="admin" writerName="admin" writerID="0" template="1122" nodeTypeAlias="sitemap" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
  </homePage>
</root>